body {
  font-family: Impact, Charcoal, sans-serif;
  display: block;
  background-color: #CCC;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 72;
  justify-content: center;
}

.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
